<div class="clashofclans-api-sample">
  <h2>This is the template "clashofclans_api_sample"</h2>
  <ul>
  <li>Clan: {{ data.name }}</li>
  <li>Country: {{ data.location.name }}</li>
  <li>requiredTownhallLevel: {{ data.requiredTownhallLevel }}</li>
  </ul>
</div>
